@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    background-color: #EFE6E4;
    font-family: 'Montserrat', sans-serif;
    width: 1400px;
    margin: 0 auto;
    height: 100%;
}

a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #533738;
    margin-right: 40px;
}

li:last-child {
    margin-left: 20px;
}

li:first-child {
    margin-left: 89px;
}

.logo img {
    margin-left: 99px;
    margin-top: 36px;
}

.scandi {
    margin-left: 124px;
    margin-top: -25px;
    width: 65px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #533738;
}

.logo {
    display: block;
    float: left;
    margin-right: 0px;
    margin-left: 0px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    margin: 0px;
    padding: 0px;
}

ul .nav-item {
    margin-top: 38px;
}

.main-heading {
    position: relative;
    margin-left: 185px;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    color: #533738;
    top: 52px;
}

.promo-description {
    margin-left: 185px;
    top: 50px;
    width: 55%;
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}


.about-Us {
    height: 572px;
    top: 0px;
}

.section-heading {
    margin-left: 632px;
    margin-top: 65px;
    margin-bottom: 0px;
}

.vase-background {
    display: block;
    float: left;
    width: 49%;
}

.vase-background img {
    margin-left: 184px;
    margin-top: 40px;
}


.text-wrap {
    margin-top: 22px;
    left: 61px;
    display: block;
    float: right;
    width: 51%;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
}

.text-wrap p {
    width: 528px;
}

.block {
    display: block;
    margin-top: 4px;
    height: 273px;
    background: #8D7370;
}

.number {
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    color: #FFFFFF;
    margin-top: 85px;

}

ul .merit {
    position: relative;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
}

ul .merit:first-child {
    margin-right: 269px;
    margin-left: 182px;
}

ul .merit:last-child {
    margin-left: 269px;
}

.number:first-child {
    margin-left: px;
}

.section-heading1 {
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    margin-left: 100px;
    margin-top: 62px;
    margin-bottom: 0px;
}

.our-offspring {
    margin-left: 100px;
    margin-top: 10px;
}

.our-offspring img {
    margin: 10px;
    vertical-align: middle;
    float: left;
}


.our-offspring img:nth-child(odd) {
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 30px;
}


.our-offspring img:nth-child(even) {
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 30px;
}


.more {
    float: left;
    color: #533738;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    margin-left: 575px;
    margin-top: 40px;
    margin-bottom: 65px;
}

.arrow img {
    float: right;
    margin-right: 553px;
    margin-top: 50px;
}

.clear {
    clear: both;
}

.our-team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.team {
    margin-left: 587px;
    margin-top: 50px;
    margin-bottom: 0px;
}

.acquaintance {
    width: 100%;
    margin-top: 42px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.m:first-child {
    margin-right: 38px;
}

.m:last-child {
    margin-left: 38px;
}

.acquaintance p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
    width: 320px;
}

.text1 {
    margin-top: 10px;
    margin-bottom: 0px;
}

.work {
    width: 100%;
}

.work-features {
    margin-left: 512px;
    margin-top: 35px;
    margin-bottom: 0px;
}

.numbers {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
    margin-top: 40px;

}

.numbers1 {
    position: relative;
    text-align: center;
    color: white;

}


.centered {
    position: relative;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    bottom: 50%;
    transform: translate(0%, 200%);
}


.services {
    margin: 0px;
    width: 285px;
}


.review-description {
    display: block;
    width: 100%;

}


.reviews {
    margin-left: 615px;
    margin-top: 65px;
    margin-bottom: 0px;
}


.big-div {
    float: left;
    margin-top: 40px;
    margin-left: 29px;
}

.review {
    width: 407px;
    margin-right: 0px;
    margin-top: 91px;
}

.arrow1 {
    float: left;
    margin-top: 276px;
    margin-left: 182px;
    width: 72px;
}

.arrow2 {
    float: right;
    margin-top: 276px;
    margin-right: 182px;
    width: 72px;
}

.photo-review {
    float: right;
    margin-top: 40px;
    width: 29%;
    margin-right: 29px;
}

.photo-review img {
    vertical-align: middle;
}

.photo-review img:first-child {
    margin-bottom: 20px;
}



form {
    height: 624px;
    background-color: #8D7370;
    display: block;
    width: 100%;
    margin-top: 65px;
}

.your-application {
    width: 100%;
    float: left;

}

.name-number {
    margin-left: 182px;
}

.button1 {
    color: #533738;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    width: 309px;
    height: 74px;
    border: 0px;
}


.promo-button1 {
    position: absolute;
    background: #CC8B86;
    margin-top: 31px;
}


.google-map {
    float: right;
    width: 50%;

}

.google-map img {
    margin-left: 10px;
    height: 624px;
}


.button {
    color: #533738;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    width: 309px;
    height: 74px;
    border: 0px;
}

.promo-button {
    position: absolute;
    background: #CC8B86;
    margin-left: 183px;
    margin-top: 61px;
}


header {
    position: relative;
    color: #533738;
    background-image: url(.//zaverstai/promo.jpg);
    height: 715px;
    top: 0px;

}

.promo-text {
    width: 50%;
    height: 715px;
}

h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #533738;
}



.continuation p {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #533738;
}

.our-team {
    background: #E2C4BA;
}

.work p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
}

.review {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
}

.author {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
}

.request {
    margin-top: 50px;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
}

.contacts {
    opacity: 0.6;
    margin-top: 24px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px
}

.input-block {
    margin-top: 55px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #F6EDE9;
}

.input-block1 {
    margin-top: 35px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #F6EDE9;
}


.line {
    margin-top: 4px;
    width: 508px;
    border: 1px solid #FFFFFF;
    height: 0px;
    transform: rotate(0.11deg);
}

form {
    background: #8D7370;
}

.your-application {
    width: 47%;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.info {
    width: 100%;
    margin-top: 37px;
    margin-bottom: 37px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
}

.info ul {
    justify-content: center;
}

.info li {
    margin-right: 42px;
}

.info li {
    text-align: center;
}

.info li:not(:first-child):not(:last-child) {
    width: 451px;
}

.info li:last-child {
    width: 167px;
    margin-right: 100px;
    margin-left: 337px;
}

.info li:first-child {
    width: 161px;
    margin-left: 100px;
}

form div input {

    background: transparent;
    border: none;
    outline: none;
}